vendor/
node_modules/
npm-debug.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
storage/*.key
.env.*.php
.env.php
.env

composer.lock
/public/cache
/public/logs
.phpstorm.meta.php
_ide_helper.php
storage/debugbar/.gitignore
/public/css
/public/js