/*************************************************
    General
*************************************************/

body {
    font-family: 'Nunito', sans-serif;
}

.content {
    margin-top:30px;
}

h1, h2, h3, h4, h5, h6, p {
    color:#333333;
}

/*************************************************
    Operation
*************************************************/

.operations .operation { 
    -webkit-transition: box-shadow .2s ease;
    -moz-transition: box-shadow .2s ease;
    -o-transition: box-shadow .2s ease;
    transition: box-shadow .2s ease;
    border:0;
}

.operations .operation:hover,
.operations .operation:hover .edit-controls { 
    box-shadow: 0px 0px 20px 0px #b9b9b9;
}

.operations .operation > .card-body { 
    background-color:white;
    z-index: 1;
    border-radius: 0.25rem;
}

.operations .operation > .card-body > a:hover {
    text-decoration:none;
}

.operations .operation .edit-controls {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 10px;
    background-color: white;
    padding: 5px 5px 0px 5px;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25em;
    border-bottom: 1px solid white;
    transition: top .4s ease, box-shadow .2s ease;
}

.operations .operation.active .edit-controls {
    top: -53px;
}

.operations .operation .edit-controls .button {
    float:left;
    padding: 10px 14px 10px 12px;
    font-size: 18px;
    color: white;
    box-shadow: inset -3px -3px 0px 0px rgba(0, 0, 0, 0.25);
    margin: 0 2px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    transition: box-shadow .2s ease, text-shadow .2s ease;  
}

.operations .operation.cta > .card-body,
.operations .operation.cta .edit-controls
 { 
    background-color: #ffd8d8;
}

.operations .operation.strat > .card-body,
.operations .operation.strat .edit-controls { 
    background-color: rgb(254, 254, 205);
}

.operations .operation .edit-controls .button:hover,
.operations .operation .edit-controls .button:active,
.operations .operation .edit-controls .button:focus {
    box-shadow: inset 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
    text-shadow: -1px -1px rgba(0, 0, 0, 0.5);
    cursor:pointer;
}

.operations .operation .icon {
    width:28px;
    height:28px;
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    border-radius: 2px;
    
    -webkit-transition: box-shadow .2s ease, transform .2s ease;
    -moz-transition: box-shadow .2s ease, transform .2s ease;
    -o-transition: box-shadow .2s ease, transform .2s ease;
    transition: box-shadow .2s ease, transform .2s ease;
}

.operations .operation .icon:hover {
    z-index:10;
    -ms-transform: scale(1.75, 1.75);
    -webkit-transform: scale(1.75, 1.75);
    transform: scale(1.75, 1.75);
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
    background-color: white;
    position: inherit;
}

/*************************************************
    Character Selector
*************************************************/

#character-selector .card {
    -webkit-transition: box-shadow .2s ease, transform .2s ease;
    -moz-transition: box-shadow .2s ease, transform .2s ease;
    -o-transition: box-shadow .2s ease, transform .2s ease;
    transition: box-shadow .2s ease, transform .2s ease;
    cursor: pointer;
}

#character-selector .card:hover {
    -ms-transform: scale(1.05, 1.05);
    -webkit-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
}

#character-selector .card .card-footer {
    padding:10px;
}

#character-selector .card .card-footer p {
    font-size:0.8rem;
    font-weight:bold;
}

.detail-view {
    display:none;
}

@media (min-width: 992px) {
    #character-selector {
        padding:30px;
    }
}

@media (min-width: 767px) {
    html {
        margin-right: calc(-1 * (100vw - 100%));
        overflow-x: hidden;
    }
}

